.homepage__animation {
  position: absolute;
  justify-self: center;
  align-content: center;
  
  height: 65%;
  width: 70%;
  border-radius: 30px;

  background-color: #d2d2d2; 

  text-align: center;

  animation-name: welcome_animation;
  animation-duration: 7s;
}

.homepage__greeting {
  padding: 20px;

  font-size: 100px;
  font-weight: 700;
  text-shadow: -2px 2px 4px grey;
}

.homepage__about_me {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
  font-weight: 600;
}

@keyframes welcome_animation {
  0% {
  left: 2%; 
  top: 4%;

  height: 80px;
  width: 80px;
  border-radius: 40px;
  
  background-color:red;

  transform: rotate(0deg);
  content-visibility: hidden;
  }
  25% {
  left:92%; 
  top:4%;

  height: 80px;
  width: 80px;
  border-radius: 40px;
  border-top-right-radius: 5px;
  
  background-color:green;

  transform: rotate(-90deg);
  content-visibility: hidden;
  }
  45% {
  left:92%; 
  top:84%;

  height: 80px;
  width: 80px;
  border-radius: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  background-color:blue;

  transform: rotate(-180deg);
  content-visibility: hidden;
  }
  70% {
  left:2%; 
  top:84%;

  height: 80px;
  width: 80px;
  border-radius: 5px;
  border-bottom-right-radius: 40px;

  background-color:black;

  transform: rotate(-450deg);
  content-visibility: hidden;
  }
  90% {
  left:2%; 
  top:4%;

  height: 80px;
  width: 80px;
  border-radius: 5px;

  background-color:#717170;

  transform: rotate(-630deg);
  content-visibility: hidden;
  }
  100% {
  left: 45%;
  top: 45%;

  height: 80px;
  width: 120px;
  border-radius: 10px;

  background-color: white; 

  transform: rotate(-360deg);
  content-visibility: hidden;
  }
}


@media only screen and (max-width: 1200px) {
  @keyframes welcome_animation {
    0% {
    left:2%; 
    top:4%;
    
    height: 80px;
    width: 80px;
    border-radius: 40px;
    
    background-color:red;

    transform: rotate(0deg);
    content-visibility: hidden;
    }
    20% {
    left:91%; 
    top:4%;
    
    height: 80px;
    width: 80px;
    border-radius: 40px;
    border-top-right-radius: 5px;
  
    background-color:green;

    transform: rotate(-90deg);
    content-visibility: hidden;
    }
    35% {
    left:91%; 
    top:84%;

    height: 80px;
    width: 80px;
    border-radius: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    background-color:blue;

    transform: rotate(-180deg);
    content-visibility: hidden;
    }
    65% {
    left:2%;
    top:84%;

    height: 80px;
    width: 80px;
    border-radius: 5px;
    border-bottom-right-radius: 40px;

    background-color:black;

    transform: rotate(-450deg);
    content-visibility: hidden;
    }
    80% {
    left:2%; 
    top:4%;
    
    height: 80px;
    width: 80px;
    border-radius: 5px;

    background-color:#717170;

    transform: rotate(-630deg);
    content-visibility: hidden;
    }
    100% {
    left: 45%;
    top: 45%;

    height: 80px;
    width: 120px;
    border-radius: 10px;

    background-color: white; 

    transform: rotate(-360deg);
    content-visibility: hidden;
    }
  }
}

@media only screen and (max-width: 1000px) {
  @keyframes welcome_animation {
    0% {
    left:2%;
    top:4%;

    height: 80px;
    width: 80px;
    border-radius: 40px;

    background-color:red;

    transform: rotate(0deg);
    content-visibility: hidden;
    }
    20% {
    left:89%;
    top:4%;

    height: 80px;
    width: 80px;
    border-top-right-radius: 5px;
  
    background-color:green;

    transform: rotate(-90deg);
    content-visibility: hidden;
    }
    35% {
    left:89%; 
    top:84%;

    height: 80px;
    width: 80px;
    border-radius: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;


    background-color:blue;

    transform: rotate(-180deg);
    content-visibility: hidden;
    }
    65% {
    left:2%; 
    top:84%;

    height: 80px;
    width: 80px;
    border-radius: 5px;
    border-bottom-right-radius: 40px;

    background-color:black;

    transform: rotate(-450deg);
    content-visibility: hidden;
    }
    80% {
    left:2%; 
    top:4%;

    height: 80px;
    width: 80px;
    border-radius: 5px;

    background-color:#717170;

    transform: rotate(-630deg);
    content-visibility: hidden;
    }
    100% {
    left: 45%;
    top: 45%;

    height: 80px;
    width: 120px;
    border-radius: 10px;

    background-color: white; 

    transform: rotate(-360deg);
    content-visibility: hidden;
    }
  }
}