.info_block {
  position: relative;

  display: flex;
  justify-content: space-evenly;
  align-items:center;
  height: 31%;
  width: 95%;
  border-radius: 15px;

  background-color: white;

  font-size: 15px;
}

.info_block__line {
  position: absolute;
  left: 36%;

  height: 100%;
  border-left: 1px solid #797979;
}

.info_block__information {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  padding: 6px;

  text-align: center;
}

.info_block__information>div {
  padding: 6px;
}

.info_block__place {
  font-size: 18px;
  font-weight: 600;
}

.info_block__title {
  font-style: italic;
  font-weight: 500;
}

.info_block__interval {
  font-weight: 400;
}

.info_block__description {
  width: 63%;

  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

@media only screen and (max-width: 1350px) {
  .info_block {
    font-size: 14px;
  }

  .info_block__place {
    font-size: 16px;
  }

  .info_block__description {
    font-size: 15px;
  }
}

@media only screen and (max-width: 1100px) {
  .info_block {
    font-size: 13px;
  }

  .info_block__place {
    font-size: 15px;
  }

  .info_block__description {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1030px) {
  .info_block {
    font-size: 12px;
  }

  .info_block__place {
    font-size: 14px;
  }

  .info_block__description {
    font-size: 13px;
  }
}

@media only screen and (max-width: 600px) {
  .info_block {
    min-height: 140px;
    width: 95%;
    margin-top: 8px;
  }

  .info_block__place {
    font-size: 11px;
  }

  .info_block__information {
    width: 34%;
  }

  .info_block__line {
    position: absolute;
    left: 38%;
  }

  .info_block__description {
    width: 61%;

    font-size: 11px;
  }
}