.project_block {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 94%;
  width: 30%;
  border-radius: 20px;

  background-color: #A6A6A6;

  font-size: 17px;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}

.project_block__hidden {
  display: none;
}

.project_block__title {
  padding: 5px;

  font-size: 18px;
  font-weight: 600;
}

.project_block__project_img {
  height: 30%;

  text-align: center;

  overflow: hidden;
  box-shadow: -5px 5px 5px 0px #9b9b9b;
}

.project_block__project_img__no_zoom {
  height: 30%;
  width: 95%;

  text-align: center;
}

img {
  height: 100%;
}

.project_block__project_img:hover {
  transform: scale(2.2);
  box-shadow: none;
}

.project_block__tech_stack {
  height: 14%;
  width: 95%;
  padding-top: 5px;

  text-align: center;
}

.project_block__description {
  height: 50%;
  width: 95%;
  padding-top: 5px;

  text-align: center;
}

.project_block__scroll {
  height: 42%;
  width: 85%;
  padding: 8px;
  border: 3px solid #f1f1f1;
  border-radius: 5px;

  text-align: center;

  overflow-x: hidden;
  overflow-y: auto;
}


@media only screen and (max-width: 1350px) {
  .project_block {
    font-size: 16px;
  }
  
  .project_block__title {
    padding: 5px;

    font-size: 17px;
  }
} 

@media only screen and (max-width: 1135px) {
  .project_block {
    font-size: 15px;
  }
  
  .project_block__project_img:hover {
    transform: scale(1.8);
  }

  .project_block__title {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1100px) {
  .project_block__project_img:hover {
    transform: scale(1.6);
  }
}

@media only screen and (max-width: 600px) {
  .project_block {
    height: 100%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

    font-size: 15px;
  }

  .project_block__tech_stack {
    font-size: 14px;
  }

  .project_block__scroll {
    height: 40%;
  }

  .project_block__project_img:hover {
    transform: none;
  }
}