.header {
  display: flex;
  justify-content: flex-end;

  width: 95%;
  height: 100px;
  max-width: 1300px;
  min-width: 950px;
  margin-left: auto;
  margin-right: auto; 
}

.header__title {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;

  color: #000;

  font-size: 45px;
  font-weight: 700;
  letter-spacing: 1px;
}

.header__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__buttons__upper {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

.buttons {
  display: flex;
}

.search_block_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 300px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-right: 45px;

  background-color: #fff;
  background-image: linear-gradient(#fff 50%, #fff 100%);

  cursor: pointer;
}

input[type="text"] {
  height: 30px;
  width: 220px;
  border: 1px solid grey;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;

  text-indent: 5px;
}

.search_button {
  display:inline-block;
  position: relative;
  align-content: center;

  height: 32px;
  width: 55px;
  border: 1px solid grey;
  border-right: 0px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;

  background-color: #d2d2d2;

  font-size: 14px;
  font-weight: 600;

  text-align: center;
}


@media only screen and (max-width: 1200px){
  .search_block_container {
    width: 275px;
    margin-right: 20px;
  }
  
  input[type="text"] {
    width: 200px;
  }
}

@media only screen and (max-width: 1100px){
  .search_block_container {
    width: 250px;
  }

  input[type="text"] {
    width: 180px;
  }
}

@media only screen and (max-width: 1000px){
  .search_block_container {
    width: 250px;
    margin-right: 10px;
  }

  input[type="text"] {
    width: 170px;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    justify-content: space-between;

    height: 150px;
    width: 95%;
    max-width: 600px;
    min-width: 30px;
    margin-left: auto;
    margin-right: auto; 
  }
  
  .header__title {
    margin: 6px;

    text-align: center;
    font-size: 35px;
    font-weight: 600;
  }
  
  .header__buttons__upper {
    justify-content: center;
  }
  
  .buttons {
    flex-direction: column-reverse;
  }
  
  .search_block_container {
    z-index: 1;

    height: 100%;
    width: 100%;
    border-radius: 0px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}